.file-row {
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 1px;
  transition: background-color 0.3s;
}

.file-row.hovered {
  background-color: #d3d3d3;
}

.file-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.file-checkbox {
  justify-content: flex-start;
  max-width: 50px;
}

.file-header-sticky {
  position: sticky;
  top: 3.4rem; /* Задает расстояние от верхней части окна, на котором элемент будет "липнуть" */
  z-index: 10; /* Устанавливает z-index, чтобы меню было над другими элементами */
  background-color: white;
  padding: 15px;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}
